<a href="https://colab.research.google.com/github/lokesh89414/Data-Cleaning-using-Python/blob/main/Data_Analyst_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Load the data

In [ ]:
df = pd.read_csv("empd.csv")

 Missing Salary Imputation

In [ ]:
df['salary'] = df.groupby('department')['salary'].transform(lambda x: x.fillna(x.median()))

Duplicate Employee ID Checking

In [ ]:
duplicate_ids = df['employee_id'][df.duplicated('employee_id', keep=False)].unique()
print("Duplicate Employee IDs:", duplicate_ids)

Duplicate Employee IDs: ['EMP0018' 'EMP0037' 'EMP0052' 'EMP0054' 'EMP0064' 'EMP0096' 'EMP0103'
 'EMP0135' 'EMP0145' 'EMP0150' 'EMP0191' 'EMP0193' 'EMP0195' 'EMP0215'
 'EMP0247' 'EMP0257' 'EMP0265' 'EMP0267' 'EMP0271' 'EMP0275' 'EMP0292'
 'EMP0306' 'EMP0332' 'EMP0346' 'EMP0347' 'EMP0379' 'EMP0396' 'EMP0417'
 'EMP0438' 'EMP0458' 'EMP0468' 'EMP0478' 'EMP0487' 'EMP0492' 'EMP0567'
 'EMP0579' 'EMP0582' 'EMP0586' 'EMP0595' 'EMP0635' 'EMP0699' 'EMP0706'
 'EMP0718' 'EMP0745' 'EMP0750' 'EMP0760' 'EMP0802' 'EMP0824' 'EMP0878'
 'EMP0888' 'EMP0903' 'EMP0918' 'EMP0979' 'EMP1029' 'EMP1037' 'EMP1055'
 'EMP1061' 'EMP1076' 'EMP1091' 'EMP1126']

Performance Score Conversion

In [ ]:
def convert_performance(score):
    try:
        return int(score) if pd.notna(score) else -1
    except ValueError:
        return -1

df['performance_score'] = df['performance_score'].apply(convert_performance)

In [ ]:
df['performance_score'].head()

0    5
1    5
2    3
3   -1
4    2
Name: performance_score, dtype: int64

 Date Format Standardization

In [ ]:
def format_date(date_str):
    try:
        return pd.to_datetime(date_str, errors='raise').strftime('%Y-%m-%d')
    except Exception:
        print(f"Error converting date: {date_str}")
        return np.nan

df['join_date'] = df['join_date'].apply(format_date)
df.dropna(subset=['join_date'], inplace=True)  # Remove problematic rows
df['join_year'] = pd.to_datetime(df['join_date']).dt.year.astype(int)

Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan

<ipython-input-11-4235bb8016c8>:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  return pd.to_datetime(date_str, errors='raise').strftime('%Y-%m-%d')

Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan
Error converting date: nan

Department Typo Correction

In [ ]:
department_mapping = {
    'HR ': 'HR',
    'Financ': 'Finance',
    'Engg': 'Engineering'
}
df['department'] = df['department'].replace(department_mapping)

# 6. Salary Outlier Removal
mean_salary = df['salary'].mean()
std_salary = df['salary'].std()
df = df[(df['salary'] >= mean_salary - 3 * std_salary) & (df['salary'] <= mean_salary + 3 * std_salary)]

Email Domain Extraction

In [ ]:
def extract_domain(email):
    try:
        return email.split('@')[1] if pd.notna(email) and '@' in email else None
    except Exception:
        return None

df['email_domain'] = df['email'].apply(extract_domain)

Salary Correlation Calculation

In [ ]:
correlation = df[['salary', 'join_year']].corr().loc['salary', 'join_year']
print("Pearson Correlation between Salary and Join Year:", correlation)

Pearson Correlation between Salary and Join Year: 0.004624417870338821

Average Salary Aggregation (Pivot Table)

In [ ]:
pivot_table = df.pivot_table(values='salary', index='department', columns='job_title', aggfunc='mean')
print("Average Salary Pivot Table:\n", pivot_table)

Average Salary Pivot Table:
 job_title    Director Analyst  Director Consultant  Director Engineer  \
department
Engineering      83635.692308         88402.571429       79945.444444
Enginering       94702.000000         92592.000000                NaN
Finance          79695.714286         85475.666667       84891.555556
HR               82754.636364         79135.285714       70093.857143
IT               76903.363636         90364.400000       76453.857143
Marketing        72155.750000         76465.500000       79329.181818
Marketting                NaN                  NaN                NaN
Operations       87076.208333         80941.000000       94778.750000
Sales            75914.571429         80046.083333       74522.750000

job_title    Director Manager  Junior Analyst  Junior Consultant  \
department
Engineering      87945.000000    75531.500000       89315.000000
Enginering                NaN             NaN                NaN
Finance          90154.500000    75257.933333       90413.900000
HR               78207.000000    77863.444444       84401.750000
IT               61862.000000    86084.888889       75242.750000
Marketing        77597.333333    85294.800000       88817.000000
Marketting                NaN   113678.000000                NaN
Operations       80882.090909    84956.888889       71753.416667
Sales            83162.142857    82035.333333       71802.000000

job_title    Junior Engineer  Junior Manager  Lead Analyst  Lead Consultant  \
department
Engineering     75694.466667    85434.875000  88536.416667     88577.600000
Enginering               NaN    47850.000000           NaN    103263.000000
Finance         81377.750000    66679.142857  80503.625000     70027.000000
HR              91875.750000    76312.600000  79469.363636     84617.777778
IT              87618.833333    78152.875000  77049.555556     76460.375000
Marketing       90265.833333    90887.600000  79974.000000     66082.625000
Marketting               NaN             NaN  89135.000000              NaN
Operations      79008.071429    81959.125000  90847.500000     71291.208333
Sales           86470.400000    86882.250000  76244.500000     92062.272727

job_title    Lead Engineer  Lead Manager  Manager Analyst  Manager Consultant  \
department
Engineering   83242.888889  72874.400000     60108.200000        81187.857143
Enginering             NaN           NaN              NaN        96257.000000
Finance       80409.636364  87555.142857     78998.000000        79685.571429
HR            85942.818182  80071.166667     61347.000000        77102.750000
IT            77277.000000  83334.400000     83041.500000        95730.428571
Marketing     92537.714286  89838.111111     84557.857143        73704.800000
Marketting             NaN           NaN              NaN        79927.000000
Operations    77131.944444  82369.583333     74241.800000        74570.222222
Sales         86023.666667  77504.666667     71336.500000        78246.444444

job_title    Manager Engineer  Manager Manager  Senior Analyst  \
department
Engineering      81209.769231     70045.400000    87117.125000
Enginering       87544.000000              NaN             NaN
Finance          80202.555556     88440.166667    88541.500000
HR               82605.000000     65264.444444    81661.000000
IT               77173.461538     92079.500000    77045.307692
Marketing        70557.800000     78042.800000    77534.750000
Marketting                NaN              NaN    86558.000000
Operations       82923.807692     76997.363636    75153.888889
Sales            78299.916667     89595.285714    84338.666667

job_title    Senior Consultant  Senior Engineer  Senior Manager
department
Engineering       83725.600000     85090.666667    76519.200000
Enginering        88721.000000              NaN             NaN
Finance           72655.000000     85116.111111    66044.800000
HR                74589.333333     69449.666667    66040.444444
IT                86925.666667     90513.916667    70629.800000
Marketing         79096.400000     80380.142857    83242.363636
Marketting                 NaN     83981.000000             NaN
Operations        92407.000000     74503.142857    80326.636364
Sales             81481.142857     84448.444444    91659.333333

In [ ]:
print(df.columns)

Index(['employee_id', 'first_name', 'last_name', 'email', 'phone',
       'department', 'job_title', 'salary', 'join_date', 'performance_score',
       'join_year', 'email_domain'],
      dtype='object')

Duplicate Row Removal

In [ ]:
df.drop_duplicates(inplace=True)
if df.duplicated().sum() == 0:
    print("No duplicate rows remaining.")
else:
    print("Duplicates still exist!")

No duplicate rows remaining.

Save the cleaned dataset

In [ ]:
df.to_csv("cleaned_empd.csv", index=False)

print("Data cleaning completed. Processed file saved as 'cleaned_empd.csv'")

Data cleaning completed. Processed file saved as 'cleaned_empd.csv'